 /* MAIN CONTENT */
 
 .content {
     flex: 1;
     padding: 25px;
     overflow-y: auto;
 }
 
 .footer {
     text-align: center;
     margin-top: 40px;
     padding: 15px;
     font-size: 0.85rem;
     color: #6b7280;
 }
 
 .switch {
     position: relative;
     display: inline-block;
     width: 50px;
     height: 26px;
 }
 
 .switch input {
     opacity: 0;
     width: 0;
     height: 0;
 }
 
 .slider_item {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     transition: 0.4s;
     border-radius: 34px;
 }
 
 .slider_item:before {
     position: absolute;
     content: "";
     height: 20px;
     width: 20px;
     left: 3px;
     bottom: 3px;
     background-color: white;
     transition: 0.4s;
     border-radius: 50%;
 }
 /* Bật (checked) */
 
 input:checked+.slider_item {
     background-color: #4CAF50;
 }
 
 input:checked+.slider_item:before {
     transform: translateX(24px);
 }
 /* Optional: Hiệu ứng focus */
 
 input:focus+.slider_item {
     box-shadow: 0 0 1px #4CAF50;
 }